@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Details";
    var stuff = ViewBag.stuff;
}

<p>
    Id: @stuff.Id
    <br />
    Login: @stuff.Login
</p>