
@{
    ViewData["Title"] = "Login";

}

<form id="form1" method="post" action=""
      enctype="application/x-www-form-urlencoded">
    <div>
        <label for="employer">employer</label>
    </div>
    <div>
        <input name="employment" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>